*{
	margin:0;
	padding:0;
}
.container-fluid{
	
}
.wrapper{
	width:1000px;
	margin:0 auto;
	padding:0;
	background:#76A3D0;
	overflow:hidden;
}
.header_part{
	height:200px;
	width:1000px
}
.header_part img{
	height:200px;
	width:1000px
}
.maincontent_part{
	width:1000px;
	height:auto;
}
.left_sidebar{
	width:250px;
	height:500px;
	/*border-right:2px solid skyblue;*/
	margin-top:52px;
}
.left{
	margin:15px;
}
.left input{
	margin-bottom:25px;
}
.right_side{
	width:748px;
	float:right;
	margin-top:-525px;
}
.right{
	margin:20px;
}
.right h1{
	color:white;
}
.right h4{
	color:maroon;
	line-height:35px;
}
.right h3{
	color:black;
}



